<div class="footer">
  <div class="footer-section">
    <h3>About <span>ℹ️</span></h3>
    <ul>
      <li><a href="#">¿Quiénes somos?</a></li>
      <li><a href="#">Nuestra misión</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Guía y recursos <span>📁</span></h3>
    <ul>
      <li><a href="#">Guía de Usuario</a></li>
      <li><a href="#">Guía de Contenido</a></li>
      <li><a href="#">Preguntas Frecuentes</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Contacto y Soporte <span>💬</span></h3>
    <ul>
      <li><a href="#">Centro de ayuda</a></li>
      <li><a href="#">Chat con soporte</a></li>
      <li><a href="#">Contactos</a></li>
    </ul>
  </div>
  <div class="footer-social">
    <p>Síguenos en nuestras redes:</p>
    
    <p>&copy; Copyright, UCB</p>
  </div>
</div>
