<div class="footer">
  <div class="footer-section">
    <h3>About <span>ℹ️</span></h3>
    <ul>
      <li><a href="about">¿Quiénes somos?</a></li>
      <li><a href="about">Nuestra misión</a></li>
      <li><a href="about">Blog</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Guía y recursos <span>📁</span></h3>
    <ul>
      <li><a href="guiayrecursos">Guía de Usuario</a></li>
      <li><a href="guiayrecursos">Guía de Contenido</a></li>
      <li><a href="guiayrecursos">Preguntas Frecuentes</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Contacto y Soporte <span>💬</span></h3>
    <ul>
      <li><a href="contactoysoporte">Centro de ayuda</a></li>
      <li><a href="contactoysoporte">Chat con soporte</a></li>
      <li><a href="contactoysoporte">Contactos</a></li>
    </ul>
  </div>
  <div class="footer-social">
    <p>Síguenos en nuestras redes:</p>
    
    <p>&copy; Copyright, UCB</p>
  </div>
</div>
