<div>
    <div style="width: 1340px; height: 504px; display: flex; gap: 1%; margin-left: 50px;">
        <div class="main_thumbnail">
            <img style="width: 134.5px; height: 132px;" src="../../assets/icons/play button.png" alt="play_button">
        </div>
        <div class="description">
            <h3 style="font-size: 20px; margin-left: 30px;" class="montserrat">Descripcion</h3>
            <h5 style="font-size: 14px; font-weight: 400; margin-left: 10px;" class="montserrat">👋 ¡Hola a todos! Bienvenidos a este video educativo sobre HTML, el lenguaje de marcado esencial para la creación de páginas web. En este video, exploraremos los conceptos básicos de HTML, entenderemos cómo funciona, y aprenderemos a construir estructuras simples para un sitio web desde cero. No importa si eres principiante o solo buscas repasar conocimientos: este contenido está diseñado para ayudarte a comprender los fundamentos de manera clara y práctica. Así que, prepárate para descubrir cómo darle vida a tus ideas en la web con HTML. ¡Comencemos! 🚀</h5>
        </div>
    </div>
    <h1 style="font-weight: bold;" class="montserrat">HTML Introduccion al curso - Curso 00</h1>
    <div class="list-container">
        <h6 style="font-size: 14px; font-weight: 400; margin-left: 30px;" class="montserrat">Videos del Curso-></h6>
        <ul>
            <li>
                <img src="../../assets/thumbnails/thumbnail-1.png" alt="video">
                <h4 style="font-size: 14px; font-weight: 400; margin-left: 10px;" class="montserrat">Titulo del video</h4>
            </li>
        </ul>
        <h6 style="font-size: 14px; font-weight: 400; margin-left: 30px;" class="montserrat">Videos del Curso-></h6>
        <ul>
            <li>
                <img src="../../assets/thumbnails/thumbnail-1.png" alt="video">
                <h4 style="font-size: 14px; font-weight: 400; margin-left: 10px;" class="montserrat">Titulo del video</h4>
            </li>
        </ul>
        <h6 style="font-size: 14px; font-weight: 400; margin-left: 30px;" class="montserrat">Videos del Curso-></h6>
        <ul>
            <li>
                <img src="../../assets/thumbnails/thumbnail-1.png" alt="video">
                <h4 style="font-size: 14px; font-weight: 400; margin-left: 10px;" class="montserrat">Titulo del video</h4>
            </li>
        </ul>
    </div>
</div>