
.montserrat 
{
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 300;
  margin-top: 10px;
}
.main_thumbnail
{
    background-image: url('../../assets/thumbnails/main_thumbnail.png'); 
    width: 833px; 
    height: 504px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.description
{
    width: 328px;
    height: 462px;
    background-color: #CFCFCF;
    padding: 1%;
    margin-top: 1.5%;
    border-radius: 20px;
}
.list-container
{
    width: 1360px;
    height: 808px;
    margin-left: -30px;
}
 ul
 {
    list-style: none;
    width: 1340px;
    height: 241px;
 }

 li
 {
    width: 276px;
    height: 213px;
 }