.stack-containerHorizontal{
    display: flex;
    flex-direction: row;
    gap: 20px; /* Espacio entre elementos */
    padding: 20px;
}
.stack-container {
    display: flex;
    flex-direction: column;
    gap: 0px; /* Espacio entre elementos */
    padding: 0px;
  }
  .parrafo{
    margin-top: 20px;
  }
  .stack-item {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }

.curso-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
  }
  
  .curso-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    height: 420px;
  }
  
  .curso-card:hover {
    transform: scale(1.05);
  }
  
  .curso-thumbnail {
    flex: 3;
    width: 276px;
    height: 153px;
    object-fit: cover;
  }
  
  .curso-info {
    flex: 2; /* 2/5 partes para el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Alinear texto al centro horizontal */
    padding: 10px;
  }
  
  .curso-title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    color: #333;
  }
  
  .curso-channel,
  .curso-date {
    font-size: 14px;
    color: #666;
    margin: 2px 0;
  }


  .categoria-titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px; /* Espaciado arriba y abajo */
    color: #333;
}
