<div>
  <img src="../../assets/images/banner.png" alt="banner">
  <h1 style="font-size: 48px; margin-left: 30px; margin-top: 4%; margin-bottom: 3%;" class="montserrat">Videos mas vistos!</h1>
  <div style="width: 1360; height: 539;">
    <ul class="video-list">
      <li class="video-card">
        <img class="category-image" src="../../assets/images/card_image4.png" alt="card_image4">
        <h2>Supera tus Miedos</h2>
        <h6>Medicina</h6>
        <h6>27/03/20</h6>
      </li>
      <li class="video-card">
        <img class="category-image" src="../../assets/images/card_image2.png" alt="card_image2">
        <h2>Dinero Mientras Duermes</h2>
        <h6>Finanzas</h6>
        <h6>18/05/20</h6>
      </li>
      <li class="video-card">
        <img class="category-image" src="../../assets/images/card_image3.png" alt="card_image3">
        <h2>Imagenes por IA</h2>
        <h6>Programacion</h6>
        <h6>21/01/21</h6>
      </li>
      <li class="video-card">
        <img class="category-image" src="../../assets/images/card_image.png" alt="card_image">
        <h2>Diseño Grafico Basico</h2>
        <h6>Diseño</h6>
        <h6>28/08/19</h6>
      </li>
    </ul>
    <button class="button-style" style="margin-left: 30px;" routerLink="/videos"> Ver mas</button>
  </div>
  <div style="width: 1360; height: 853;">
    <h1 style="font-size: 48px; margin-left: 30px; margin-top: 4%;" class="montserrat">Categorias mas buscadas</h1>
    <h2 style="font-size: 36px; margin-left: 30px;" class="montserrat">No sabes que video buscas?</h2>
    <h2 style="font-size: 36px; margin-left: 30px;" class="montserrat">Intentan visitando nuestra lista de categorías disponibles ahora!</h2>
    <div style="width: 1280; height: 560; margin-left: 30px; margin-top: 2%; display: flex; gap: 70px;">
      <li class="category-card">
        <img src="../../assets/images/art.png" alt="art">
        <div style="margin-left: 30px;">
          <h3 style="font-size: 24px; font-weight: bold; margin-top: 70px;" class="montserrat">Diseño</h3>
          <h5 style="font-size: 18px; width: 270px;" class="montserrat">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</h5>
        </div>
      </li>
      <li class="category-card">
        <img src="../../assets/images/science.png" alt="science">
        <div style="margin-left: 30px;">
          <h3 style="font-size: 24px; font-weight: bold; margin-top: 70px;" class="montserrat">Ciencia</h3>
          <h5 style="font-size: 18px; width: 270px;" class="montserrat">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</h5>
        </div>
      </li>
      <li class="category-card">
        <img src="../../assets/images/computation.png" alt="computation">
        <div style="margin-left: 30px;">
          <h3 style="font-size: 24px; font-weight: bold; margin-top: 70px;" class="montserrat">Computacion</h3>
          <h5 style="font-size: 18px; width: 270px;" class="montserrat">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</h5>
        </div>
      </li>
    </div>
    <button class="button-style" style="margin-left: 30px; margin-top: 30px;"> Ver mas</button>
  </div>
  <div class="banner" style="background-image: url('../../assets/images/banner2.png'); padding-top: 60px; margin-top: 2%; padding-left: 50px;">
    <div style="width: 829px; height: 283px; background-color: white; padding: 3%; padding-left: 5%;">
      <div style="width: 686; height: 162;">
        <h1 style="font-size: 56px;" class="montserrat">Como subir tu video?</h1>
        <h5 style="font-size: 14px;" class="montserrat">Descripcion de la ayuda</h5>
      </div>
    </div>
    <button style="margin-top: 10%;" class="button-style" routerLink="/about">
      Ver mas
    </button>
  </div>
</div>